/* Grey */
/* #5c5e67 */
/* orange */
/* #be7400 */

@font-face {
  font-family: Futura;
  src: url("font/FuturaStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: FuturaBook;
  src: url("font/FuturaStd-Book.otf") format("opentype");
}

html * {
  font-family: 'Futura' !important;
}

#titleBar>h1 {
  background-color: transparent !important;
  /* font-family: 'Futura'; */
}

#sceneList {
  /* display: none; */
  background-color: rgb(36, 42, 51);
}

.scenes {
  background-color: transparent !important;
}

.scenes a {
  background-color: transparent !important;
  font-size: 16px;
  padding: 6px;
  height: auto !important;
  transition: 200ms;
  display: none !important;
}

.scenes a li {
  font-family: athelas, serif !important;
  font-weight: 400;
  font-style: normal;
}

.scenes a.scene::before {
  content: ' ';
  background-image: url('../img/chevron.svg');
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}

.scenes a.visible {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.scenes a.visible.title:hover {
  background-color: transparent !important;
}

.scenes a.visible.title li {
  text-transform: uppercase;
  font-family: Futura !important;
  font-weight: bold;
}

.scenes a.scene.title::before {
  content: '';
  height: 0;
  width: 0;
}

.scenes a.subtitle {
  padding-left: 20px !important;
  padding-right: 20px;
  text-transform: initial !important;
}

.scenes a:hover {
  background-color: #5c5e67 !important;
}

.scenes a li {
  padding: 0 !important;
}

#sceneList .scenes {
  padding: 20px;
}

#sceneList {
  width: 300px !important;
}

#sceneListToggle {
  background-color: transparent !important;
}

#autorotateToggle {
  background-color: transparent !important;
}

.button {
  background-color: #be7400;
}

.info-hotspot-text {
  font-family: FuturaBook !important;
  padding: 16px !important;
}

.info-hotspot-text img {
  width: 100%;
}

.info-hotspot-text .scroller {
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

.info-hotspot-text .scrollerButton {
  padding: 10px;
}

.info-hotspot-text .scrollerButton img {
  width: 16px;
}

.info-hotspot-text .scrollerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.info-hotspot-text p {
  margin-bottom: 10px;
}

.info-hotspot-text p:last-child {
  margin-bottom: 0;
}

.info-hotspot-text ul {
  padding: 10px;
  padding-left: 26px;
  list-style: initial;
}

.info-hotspot-text ul li {
  margin: 8px 0;
}

.info-hotspot-text * {
  font-family: FuturaBook !important;
}

.info-hotspot-text div>div {
  margin: 4px 0;
}

.info-hotspot .info-hotspot-text {
  max-height: none !important;
}

.layoutArea .column {
  padding: 10px;
}

/* .hotspot-tooltip.link-hotspot-tooltip {
  text-transform: uppercase;
} */

#titleBar {
  display: none;
}

.hotspot-tooltip.link-hotspot-tooltip {
  display: none;
}